      <a class="top-link hide" href="" id="js-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
        <span class="screen-reader-text">Back to top</span>
      </a>


      <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script src="{{ "js/jquery.event.move.js"| relative_url }}"></script>
      <script src="{{ "js/jquery.twentytwenty.js"| relative_url }}"></script>
      <script src="{{ "js/scrollToTop.js"| relative_url }}"></script>
      <script>
      $(function() {
          $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({
              default_offset_pct: 0.5,
              move_slider_on_hover: false,
              click_to_move: true,
              before_label: 'Original', // Set a custom before label
              after_label: 'Compressed',
          });
          $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({
              default_offset_pct: 0.3,
              orientation: 'vertical',
              move_slider_on_hover: false,
              click_to_move: true
          });
      });
      </script>
  </body>
</html>
