<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ "/uploads-lossless" | relative_url }}">Uploads-loseless</a></li>
            <li><a href="{{ "/uploads-80" | relative_url }}">Uploads-80%</a></li>
            <li><a href="{{ "/uploads-50" | relative_url }}">Uploads-50%</a></li>
            <li><a href="{{ "/uploads-10" | relative_url }}">Uploads-10%</a></li>
        </ul>
    </div>
</div>